
.container{background-color: rgba(176, 212, 191, 0.95); padding: 10px}
p.check{font-weight: bold;}
h4.gap{margin-top: 50px;}

.form-control{background-color: whitesmoke; padding: 10px}
p.check{font-weight: bold;}
h4.gap{margin: 50px;}
hr {
    width: 60%;
    margin-left: 20px;
    margin-right: 180px;;
}